/* @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Allan:wght@400;700&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Antonio:wght@200;400;700&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:wght@200;400;700&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap'); */

img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

ul,
li {
  list-style: none;
}

.container {
  /* font-family: 'Lato', sans-serif; */
  font-family: 'Allan', cursive;
  /* font-family: 'Antonio', sans-serif; */
  /* font-family: 'IBM Plex Sans Condensed', sans-serif; */
  /* font-family: 'Roboto', sans-serif; */

  text-align: center;
  padding: 20px 15px;
  height: 100vh;
  /* height: auto; */

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.2),
      rgba(47, 48, 58, 0.2)
    ),
    url('../../images/pixabay.jpg');
  background-color: #e7ecf2;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
